<div class="mt-5"></div>
<div class="row">
    <a href="courses/create" type="button" class="btn btn-primary ml-auto">Đăng khóa học</a>
 </div>
<div class="row">
    {{#each courses}}
        <div class="col-sm-6 col-md-4">
            <div class="card mt-4">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="anh">
                </a>
                <div class="card-body">
                <a href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Mua khóa học</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>


