<form  class="mt-5" name="container-form" method="POST" action="/courses/handle-form-action">
    <h3>Khóa học của tôi</h3>
      <a  href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center justify-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả   
        </label>
      </div>
        <select class="custom-select mt-2 stored-select" name="action" required>
        <option value="">--Chọn hành động--</option>
        <option value="delete">Xóa</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
        <button class="btn btn-primary mt-3 btn-sm  btn-check-all-submit" disabled="disabled" >Thực hiện</button>
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col"></th>
            
                <th scope="col">#</th>
                <th scope="col">
                  Tên khóa học
                  {{{sortable 'name' _sort}}} 
                </th>
                <th scope="col">
                  Trình độ
                  {{{sortable 'level' _sort}}} 
                </th>
                <th scope="col" colspan="2">
                  Thời gian tạo
                  {{{sortable 'createdAt' _sort}}} 
                </th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" >
                  </div>
              </td>
                <th scope="row"> {{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link"data-bs-toggle="modal" data-id={{this._id}} data-bs-target="#delete_courses_modal">Xóa</a>
                </td>
            </tr>

            {{else}}
               <tr>
                <td class="text-center" colspan="5">
                  Bạn chưa đăng khóa học nào
                    <a  href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
<div class="modal fade" id="delete_courses_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{!-- delete hidden form --}}
<form name="delete-course-form" method="POST" action="">
</form>

 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded',function(){
      var courseId;
      var deleteForm = document.forms['delete-course-form']
      var containerForm = document.forms['container-form']
      var exampleModal = document.getElementById('delete_courses_modal')
    
      var checkboxAll = $('#checkbox-all')
      var courseItemCheckbox = $('input[name="courseIds[]"]');
      var checkAllSubmitBtn = $('.btn-check-all-submit')
      // checkbox all click
      checkboxAll.change(function (){
        var isCheckedAll = $(this).prop('checked')
          courseItemCheckbox.prop('checked',isCheckedAll)
        renderCheckAllSumitBtn()

      })

        // course item checkbox
      courseItemCheckbox.change(function (){
        var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
        checkboxAll.prop('checked',isCheckedAll)
        renderCheckAllSumitBtn()

      })
      
      //check all submit btn click on

    //rerender checkAllSubmitBtn.on('submit',function(event){
     //   var isSubmitable = !$(this).hasClass('disabled');
   //       if(!isSubmitable){
    //        event.preventDefault();
    //      }
    //  }) 

      //rerender check all sumit btn
      function renderCheckAllSumitBtn(){
        var checkedCount = $('input[name="courseIds[]"]:checked').length
        if(checkedCount >0){
          checkAllSubmitBtn.removeAttr('disabled')
        } else {
          checkAllSubmitBtn.attr('disabled','disabled')

        }
      }
      
      exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var courseId = button.getAttribute('data-id')
      
      var btnDeleteCourse = document.querySelector("#btn-delete-course")
      btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
        deleteForm.submit();
      }
    })
   console.log(containerForm)
  })

</script>
